@import "variables";
.footer {
    background-color: $bg-color;
    justify-content: space-around;
    overflow: none;
    border-top: $border-color solid 1px;
}

.footer__end-of-page {
    background-color: $footer-end-bg-color;
}

.footer__madeBy {
    background-color: $footer-made-by;
}