@import "variables";
.footer {
    background-color: $bg-color;
    justify-content: space-around;
    overflow: none;
}

.footer__end-of-page {
    background-color: $footer-end-bg-color;
}

h6 a {
    color: $h6-color;
}