$bg-color: #d9d1a9;
$p-color: #731F1F;
$h1-color: #213D40;
$footer-end-bg-color: #2a5559;
$footer-made-by: #255357;
$nav-a-color: #213d40;
$border-color: #c0b891;
$fomulario-contacto-color: #5c1818;
$h3-color:#355e63;